<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,330},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>128.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,221},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,3},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>256.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,3},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,3},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,330},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>512.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,221},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,112},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nums.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c5e1d4113c5d7bd2f386b0e2502352e:781bc07f594fa10b681fcb824a33308c:01f1c742620b28516a41c7ab331d8da0$</string>
            <key>textureFileName</key>
            <string>nums.png</string>
        </dict>
    </dict>
</plist>
