<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,176},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>backtile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,394},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>backtile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,285},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>backtile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,176},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>bgcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,128},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,176},{310,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,76}}</string>
                <key>sourceSize</key>
                <string>{310,76}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{504,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,121}}</string>
                <key>sourceSize</key>
                <string>{504,121}</string>
            </dict>
            <key>resetBtn_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,332},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>resetBtn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,280},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>result_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,176},{237,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,40}}</string>
                <key>sourceSize</key>
                <string>{237,40}</string>
            </dict>
            <key>result_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,176},{235,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,40}}</string>
                <key>sourceSize</key>
                <string>{237,40}</string>
            </dict>
            <key>scorebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,417},{213,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,76}}</string>
                <key>sourceSize</key>
                <string>{213,76}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,128},{476,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,44}}</string>
                <key>sourceSize</key>
                <string>{476,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>source.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceebcb37d237c890f3410a6de0a9dbb7:3faaee616c4370be6e2bc55903bc0cfd:8f9c4a3af804f50e87352e751f4953c8$</string>
            <key>textureFileName</key>
            <string>source.png</string>
        </dict>
    </dict>
</plist>
